@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", sans-serif;

  /* Colors */
  --primaryColor: hsl(94, 55%, 56%);
  --hoverColor: hsl(94, 55%, 46%);
  --paleGreen: hsl(94, 55%, 96%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgColor: hsl(0, 0%, 98%);
  --inputColor: hsl(0, 0%, 90%);

  /* Font and Typography */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
}

.body {
  background: white;
}

html {
  font-size: 90%;
}

li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

li:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #2a68ff;
  right: 0;
  bottom: -1rem;
  color: #2a68ff;
}

.icon {
  font-size: var(--h2FontSize);
  cursor: pointer;
}

.card {
  background: url("../src/Assets/black-white-image-water-surface-with-pattern-triangles.jpg");
}

img {
  width: 100%;
  height: auto;
}

@media (max-width: 1060px) {
  .searchDiv form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .searchDiv form > * {
    width: 100%;
  }
}

/* Styles for the focused div */
.focused {
  --tw-bg-opacity: 1;
  border-color: rgb(29 78 216 / var(--tw-bg-opacity));
  box-shadow: 0 0 5px rgba(0, 120, 212, 0.5);
}
